.header {
    justify-content: space-between;
    margin-inline: 11px;
    margin-bottom: 0;
    align-items: center;
    height: 57px;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    margin-inline: 11px;
    margin-bottom: 0;
    align-items: center;
    height: 57px;
}

.header__part-right {
    display: flex;
    align-items: center;
    gap: 26px;
}

.header__logo{
    width: 99px;
    height: 24px;
}

.header__btn-menu{
    background-color: transparent;
    border: none;
    width: 39px;
    height: 36px;
}

.header__langue{
    background-color: transparent;
    border: none;
    color: var(--text);
    font-size: 25px;
}

.header__nav[aria-expanded="true"] .header__logo {
    opacity: 0;
    visibility: visible;
    height: 0;
}