/* .hero-menu__image {

} */

.hero-menu__text {
    align-items: center;
    text-align: center;
}

.hero-menu__title {
    font-size: var(--title1);
    font-weight: 600;
    margin-inline: 16px;
}

.hero-menu__subtitle {
    font-size: var(--text-galery);
    margin-inline: 20px;
}

.hero-menu__button-wrapper {
    width: 64%;
    height: 35px;
    border-radius: 17.5px;
    background: linear-gradient(90deg, var(--detail-1) 0%, var(--detail-2) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: 72px;
    margin-bottom: var(--space-xl);
}

.hero-menu__button {
    display: flex;
    gap: 90px;
    align-items: center;
    margin-left: 0 auto;
    padding-left: 35px;
}

.button__text {
    color: var(--text);
    font-size: var(--title-card);
    font-weight: 500;
    width: 47%;
    white-space: nowrap;
    text-decoration: none;
}

.button__logo {
    width: 4%;
    height: auto;
}

.cards {
    margin-inline: 48px;
}

.card {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    background: linear-gradient(90deg, var(--detail-1) 0%, var(--detail-2) 100%);
    border-radius: 30px 0;
}

.card__link {
    text-decoration: none;
}

.card__image {
    width: 86%;
    padding-inline: 21px;
    height: auto;
    aspect-ratio: 255/202;
    padding-top: 23px;
    border-radius: 50px 0 50px 0;
    padding-bottom: 4px;
}

.card__text {
    display: block;
    font-size: var(--title-card);
    font-weight: 500;
    margin: 0 auto;
    color: var(--text);
    text-decoration: none;
    padding-inline: 21px;
    padding-block: 9px;
}

.hero1 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--primary)), url(../../../assets/img/img/hero/hero1.avif);
    background-size: cover;
}

.hero2 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--primary)), url(../../../assets/img/img/hero/hero2.avif);
    background-size: cover;
}

.hero3 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--primary)), url(../../../assets/img/img/hero/hero3.avif);
    background-size: cover;
}

.hero4 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--primary)), url(../../../assets/img/img/hero/hero4.avif);
    background-size: cover;
}

.hero4 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--primary)), url(../../../assets/img/img/hero/hero5.avif);
    background-size: cover;
}

.about__title {
    text-align: center;
    margin-inline: 0 auto;
    margin-block: var(--space-m);
}

.glossaire__list {
    margin-inline: var(--space-l);
}

.list__title {
    text-decoration: underline;
    font-weight: 500;
}

.list__wrapper {
    font-weight: 200;
    list-style: disc;
    font-size: var(--body);
}

.about__content {
    margin-inline: var(--space-l);
}

.logo {
    width: 100%;
    height: 17%;
    background: linear-gradient(90deg, var(--detail-1) 0%, var(--detail-2) 100%);
    margin-bottom: var(--space-xs);
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding-block: 14px;
}

.logo__img {
    width: 41%;
    height: 80, 5%;
    margin-inline: 116px;
}

.contact__content {
    height: 100%;
    margin-bottom: 0;
}

.contact__title {
    text-align: center;
    margin-inline: 0 auto;
    margin-block: var(--space-m);
}

.contact__intro {
    margin-bottom: 25px;
}

.contact__form {
    margin-top: 25px;
}

.contact__wrapper {
    margin-inline: var(--space-l);
}

.contact__name-wrapper {
    display: flex;
    gap: 8px;
    margin-bottom: 13px;
}

.contact__input {
    width: 100%;
    background-color: var(--galery);
    border-radius: 5px;
    border: 2px solid var(--detail-1);
}

.contact__email-wrapper {
    margin-bottom: 13px;
}

.input-mess {
    height: 113px;
}

.input__name {
    width: 98%;
}

.contact__submit-btn {
    margin-top: 13px;
    margin-bottom: 52px;
    width: 48%;
    border-radius: 5px;
    background: linear-gradient(90deg, var(--detail-1) 0%, var(--detail-2) 100%);
    text-align: left;
    align-items: center;
    font-weight: 400;
    border: none;
}

.article__timeline {
    margin: 0;
    width: 256px;
    border-left: 3px;
    display: flex;
}

.timeline__separation {
    width: 5px;
    background-color: var(--detail-1);
}

.timeline__wrapper {
    width: 100%;
    padding-top: 44px;
    list-style: inside;
}

.timeline__item {
    display: flex;
    margin-bottom: 78px;
    gap: 19px;
}

.timeline__text-wrapper {
    width: 76%;
}

.text-wrapper__name {
    font-size: var(--body);
}

.text-wrapper__text-content {
    font-size: var(--text-img);
    font-weight: 300;
    line-height: normal;
    margin-block: 0;
}

.item__profil {
    align-items: center;
    width: 67px;
}

.carousel-wrapper {
    position: relative;
    margin-bottom: var(--space-m);
}

.carousel__controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    z-index: 10;
}

.carousel__button {
    width: 50px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light-purple);
    opacity: 100%;
    border: 2px solid var(--light-purple);
    cursor: pointer;
    pointer-events: auto;
    transition: background-color 0.3s ease;
}

.carousel__container {
    display: flex;
    gap: 0;
    overflow: scroll;
    scroll-snap-type: mandatory;
    scrollbar-width: none;
}

.carousel__container::-webkit-scrollbar {
    display: none;
}

.img__caroussel{
    border-radius: 15px;
}

.autres-projets{
    gap:20px;
}

.carousel__item {
    flex: 0 0 100%;
    scroll-snap-align: center;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

.texte__caroussel {
    color: var(--text);
    font-size: var(--title2);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: var(--space-s);
    display: block;
    text-align: center;
    margin-top: 15px;
}

.galery__title{
    text-align: center;
    margin-inline: 0 auto;
    margin-block: var(--space-m);
}

.item__title {
    text-align: center;
    margin-inline: 0 auto;
    padding-top: var(--space-s);
    margin-bottom: var(--space-s);
}

.carousel__item{
    background-color: var(--galery);
    border-radius: 20px;
}

.item__description{
    text-align: left;
    margin-inline: 33px;
    padding-block: 15px;
}

.item__img{
    width: 50%;
    height: auto;
    margin-inline : 99px;
    border-radius: 15px;
}

.carousel__galery{
    margin-bottom: var(--space-s);
}