/* color */
:root {
  /* Mode 1 */
  /* color */
  --detail-1: #6fafb5;
  --detail-2: #7590c2;
  --galery: #38445c;
  --link: #36d7ff;
  --primary: #020913;
  --text: #ffffff;
}

/* typo */
:root {
  /* Mode 1 */
  /* number */
  --footer-detail: 0.6875rem;
  --text-img: 0.75rem;
  --footer-text: 0.875rem;
  --text-galery: 0.9375rem;
  --body: 1rem;
  --title-card: 1.0625rem;
  --title2: 1.25rem;
  --title1: 1.6875rem;
  --title-galery: 1.875rem;
  /* string */
  --font: Josefin Sans, sans-serif;
}

/* space */
:root {
  /* Mode 1 */
  /* number */
  --space-xs: 1.875rem;
  --space-s: 2.25rem;
  --space-m: 2.9375rem;
  --space-l: 3.5625rem;
  --space-xl: 4.1875rem;
}