body {
  color : #ffffff;
  background-color: var(--primary);
  font-family: var(--font);
}

ul{
  list-style-image: url(/assets/img/logo/logo-list-menu.svg);
}

h1 {
  font-size: var(--title1);
}

h2 {
  font-size: var(--title2);
}

p {
  margin-block: 36px;
}

a {
  text-decoration: none;
}

.article__content{
  font-weight: 500;
  line-height: 20px;
  margin-inline: 57px;
}

.article__image-wrapper{
  margin-inline: 57px;
}


.article__image-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  line-height: 10px;
} 

.glossaire-link {
  color: var(--link);
}

.article__chapo{
  margin-inline: 34px;
  font-weight: 600;
  line-height: normal;
}

.article__info{
  margin-top: var(--space-s);
  margin-left: var(--space-m);
  font-weight: 300;
  line-height: 20px;
}

.article__auteur{
  margin : 0;
}

.arrow-up__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 28px;
}