.hero__title {
    margin-left: 17px;
    padding-top: 411px;
    margin-top: 0;
}

.swipe {
    width: 64%;
    margin-left: 71px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swipe__arrow {
    margin-bottom: 57px;
}