.hero__wrapper {
    width: 100%;
    margin-top: 0;
    height: 541px;
    z-index: -1;
    position: relative;
}

.hero__title {
    margin-left: 17px;
    padding-top: 411px;
}

.swipe {
    width: 64%;
    margin-left: 71px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swipe__arrow {
    width: 22%;
    margin-bottom: 57px;
}