ul {
    list-style-image: url(../../../assets/img/logo/logo-list-menu.svg);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-base);
    z-index: 50;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.menu[aria-hidden="false"] {
    opacity: 0;
    visibility: visible;
}

.menu__list {
    list-style: none;
    padding: 0;
    margin-left: 0;
    display: flex;
    gap: 30px;
}

.menu__item {
    font-size: var(--titre1);
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.header__menu[aria-hidden="false"] .menu__item {
    opacity: 1;
    transform: translateY(0);
}

.header__menu[aria-hidden="false"] .menu__item:nth-child(1) {
    transition-delay: 0.1s;
}

.header__menu[aria-hidden="false"] .menu__item:nth-child(2) {
    transition-delay: 0.15s;
}

.header__menu[aria-hidden="false"] .menu__item:nth-child(3) {
    transition-delay: 0.2s;
}

.header__menu[aria-hidden="false"] .menu__item:nth-child(4) {
    transition-delay: 0.25s;
}

.header__menu[aria-hidden="false"] .menu__item:nth-child(5) {
    transition-delay: 0.3s;
}

.menu__link {
    font-weight: 400;
    text-decoration: none;
    color: var(--text);
    transition: color 0.3s ease, transform 0.2s ease;
    display: inline-block;
}

.menu__link:hover,
.menu__link:focus {
    transform: translateX(10px);
}

.header__menu[aria-hidden="false"] .logo-header {
    opacity: 1;
    transform: scale(1);
}